.table-top {
    padding-top: 23px;
}

.hr-style {
    border: 1px solid #9E9E9E;
    background-color: #9E9E9E;
}

.my-button {
    margin-left: 93px;
    margin-top: 16px;
}

.nav-position {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_ul {
    margin: 20px 20px;
}

.aw-question-content {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.pagination{
    margin: 20px 20px !important;
}


