<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <link rel="stylesheet" type="text/css" href="../../css/index.css"/>
    <title>物料管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/index.js"></script>


</head>
<body>
<div>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2>物料管理</h2>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-default btn-lg my-button" data-toggle="modal"
                        data-target="#myModal">新建
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">新物料入库</h4>
                            </div>
                            <div class="modal-body">
                                <!--提交表单-->
                                <form class="form-horizontal" action="/insert">
                                    <div class="form-group">
                                        <label for="newDescription" class="col-sm-2 control-label">物料描述</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="newDescription"
                                                   name="newDescription">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="newItemUom" class="col-sm-2 control-label">物料单位</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="newItemUom" name="newItemUom">
                                                <option value="米">米</option>
                                                <option value="平方米">平方米</option>
                                                <option value="立方米">立方米</option>
                                                <option value="千克">千克</option>
                                                <option value="个">个</option>
                                                <option value="其他">其他</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="newStartActiveDate" class="col-sm-2 control-label">生效时间</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" id="newStartActiveDate"
                                                   name="newStartActiveDate">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="newEndActiveDate" class="col-sm-2 control-label">有效期至</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" id="newEndActiveDate"
                                                   name="newEndActiveDate">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="newEnabledFlag" class="col-sm-2 control-label">是否启用</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="newEnabledFlag" name="newEnabledFlag">
                                                <option value="是">是</option>
                                                <option value="否">否</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                                        <button type="submit" class="btn btn-default">保存</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-style">
</div>

<!--查询-->
<div class="">
    <form class="" action="/index" method="get">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="form-group col-md-3">
                <label for="itemCode">物料编码</label>
                <input type="text" th:value="${itemCode}" class="form-control" id="itemCode" name="itemCode">
            </div>

            <div class="form-group col-md-3">
                <label for="description">物料描述</label>
                <input type="text" th:value="${description}" class="form-control" id="description" name="description">
            </div>

            <div class="form-group col-md-3">
                <label for="itemUom">物料单位</label>
                <select class="form-control"  id="itemUom" name="itemUom">
                    <option th:selected="${itemUom == '米'}" value="米">米</option>
                    <option th:selected="${itemUom == '平方米'}" value="平方米">平方米</option>
                    <option th:selected="${itemUom == '立方米'}" value="立方米">立方米</option>
                    <option th:selected="${itemUom == '千克'}" value="千克">千克</option>
                    <option th:selected="${itemUom == '个'}" value="个">个</option>
                    <option th:selected="${itemUom == '其他'}" value="其他">其他</option>
                    <option th:selected="${itemUom == '全部'}" value="全部">全部</option>
                </select>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!-- ----------------------------  -->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="form-group col-md-3">
                <label for="startActiveDate">生效时间从</label>
                <input type="date" class="form-control" id="startActiveDate" name="startActiveDate">
            </div>

            <div class="form-group col-md-3">
                <label for="endActiveDate">生效时间至</label>
                <input type="date" class="form-control" id="endActiveDate" name="endActiveDate">
            </div>

            <div class="form-group col-md-3">
                <label for="enabledFlag">是否启用</label>
                <select class="form-control" id="enabledFlag" name="enabledFlag">
                    <option value="是">是</option>
                    <option value="否">否</option>
                </select>
            </div>
            <div class="col-md-2" style="height: 100%;box-sizing: border-box;padding-top: 24px">
                <button type="button" class="btn btn-default">重置</button>
                <button type="submit" class="btn btn-default">查询</button>
            </div>
        </div>
    </form>
</div>
<!--数据展示-->
<div class="table-top">
    <!--表格展示-->
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <table class="table table-bordered">
                <tr>
                    <td>物料编码</td>
                    <td>物料描述</td>
                    <td>物料单位</td>
                    <td>生效时间从</td>
                    <td>生效时间至</td>
                    <td>是否启用</td>
                    <td>操作  <button class="btn-default del_checked_btn" onclick="del_checked()">批量删除</button></td>
                </tr>
                <!--表格数据-->
                <tr th:each="material:${pagination.data}">
                    <td th:text="${material.itemCode}">ITEM0000000602</td>
                    <td th:text="${material.itemDescription}">packing material for HU management</td>
                    <td th:text="${material.itemUom}">个</td>
                    <td th:text="${#dates.format(material.startActiveDate, 'yyyy/MM/dd')}"></td>
                    <td th:text="${#dates.format(material.endActiveDate, 'yyyy/MM/dd')}"></td>
                    <td th:if="${material.enabledFlag}">是</td>
                    <td th:if="${not material.enabledFlag}">否</td>

                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn  btn-default" data-toggle="modal"
                                th:attrappend="data-target='#updateModal'+${material.itemCode}">编辑
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" th:attrappend="id='updateModal'+${material.itemCode}" tabindex="-1"
                             role="dialog" aria-labelledby="updateModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="updateModalLabel">更新物料</h4>
                                    </div>
                                    <div class="modal-body">
                                        <!--提交表单-->
                                        <form class="form-horizontal" action="/update">

                                            <div class="form-group">
                                                <label for="updateItemCode" class="col-sm-2 control-label">物料编码</label>
                                                <div class="col-sm-10">
                                                    <input type="text" th:value="${material.itemCode}" readonly="readonly"
                                                           class="form-control" id="updateItemCode" name="updateItemCode">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="updateDescription" class="col-sm-2 control-label">物料描述</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control"
                                                           th:value="${material.itemDescription}" id="updateDescription"
                                                           name="updateDescription">
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label for="updateItemUom" class="col-sm-2 control-label">物料单位</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control" th:value="${material.itemUom}"
                                                            id="updateItemUom" name="updateItemUom">
                                                        <option value="米">米</option>
                                                        <option value="平方米">平方米</option>
                                                        <option value="立方米">立方米</option>
                                                        <option value="千克">千克</option>
                                                        <option value="个">个</option>
                                                        <option value="其他">其他</option>

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="updateStartActiveDate" class="col-sm-2 control-label">生效时间</label>
                                                <div class="col-sm-10">
                                                    <input type="date"
                                                           th:value="${#dates.format(material.startActiveDate, 'yyyy-MM-dd')}"
                                                           class="form-control" id="updateStartActiveDate"
                                                           name="updateStartActiveDate">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="updateEndActiveDate" class="col-sm-2 control-label">有效期至</label>
                                                <div class="col-sm-10">
                                                    <input type="date"
                                                           th:value="${#dates.format(material.endActiveDate, 'yyyy-MM-dd')}"
                                                           class="form-control"
                                                           id="updateEndActiveDate" name="updateEndActiveDate">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="updateEnabledFlag" class="col-sm-2 control-label">是否启用</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control" th:value="${material.enabledFlag}"
                                                            id="updateEnabledFlag" name="updateEnabledFlag">
                                                        <option value="是">是</option>
                                                        <option value="否">否</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                <button type="submit" class="btn btn-default">保存变更</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <button type="button" class="btn btn-default" data-toggle="modal"
                                th:attrappend="data-target='#deleteModal'+${material.itemCode}">删除
                        </button>
                        <div class="modal fade" tabindex="-1" role="dialog"
                             th:attrappend="id='deleteModal'+${material.itemCode}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">注意</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>是否确认删除？</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

                                        <button type="button" class="btn btn-default"
                                                th:onclick="'javascript:toDelete(\'' + ${material.itemCode} + '\');'">确定
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>
                        <label>
                            <input type="checkbox" th:id="'checkbox'+${material.itemCode}" th:onclick="'javascript:check_box_click(\'' + ${material.itemCode} + '\');'">
                        </label>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <!--分页按钮-->
    <div class="row">
        <nav aria-label="Page navigation" class="nav-position">
        <span class="aw-question-content">
                显示
                <span th:text="${pagination.page}"></span>-
                <span th:text="${pagination.page+pagination.getData().size()-1}"></span>
                条
            </span>
            <ul class="nav_ul pagination ">
                <li>
                    <a th:href="@{/index(page=1,description=${description},itemCode=${itemCode},itemUom=${itemUom},startActiveDate=${startActiveDate},endActiveDate=${endActiveDate},enabledFlag=${enabledFlag})}"
                       aria-label="Previous"
                       th:if="${pagination.showFirstPage}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <a th:href="@{/index(page=(${pagination.page}-1),description=${description},itemCode=${itemCode},itemUom=${itemUom},startActiveDate=${startActiveDate},endActiveDate=${endActiveDate},enabledFlag=${enabledFlag})}"
                       aria-label="Previous"
                       th:if="${pagination.showPrevious}">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
                <li th:each="page:${pagination.pages}" th:class="${pagination.page==page}?'active':''">
                    <a th:href="@{/index(page=${page},description=${description},itemCode=${itemCode},itemUom=${itemUom},startActiveDate=${startActiveDate},endActiveDate=${endActiveDate},enabledFlag=${enabledFlag})}"
                       th:text="${page}"></a>
                </li>
                <li>
                    <a th:href="@{/index(page=(${pagination.page}+1),description=${description},itemCode=${itemCode},itemUom=${itemUom},startActiveDate=${startActiveDate},endActiveDate=${endActiveDate},enabledFlag=${enabledFlag})}"
                       aria-label="Next"
                       th:if="${pagination.showNext}">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                    <a th:href="@{/index(page=${pagination.totalPage},description=${description},itemCode=${itemCode},itemUom=${itemUom},startActiveDate=${startActiveDate},endActiveDate=${endActiveDate},enabledFlag=${enabledFlag})}"
                       aria-label="Next"
                       th:if="${pagination.showEndPage}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
            <span class="aw-question-content">
            <span th:text="${pagination.getData().size()}"></span>条/页
        </span>
        </nav>
    </div>

</div>

</body>
</html>